<!-- <div class="main" style="margin-top: 9%;">
    <h2>Active patients <i class="fa fa-stethoscope"></i></h2>
    <hr>

    <div flex="60" class="table-title-text"> 
               
      <input type="text"  (keyup)="applyFilter($event)" placeholder="Search Patient.." style="margin-top: 20px;margin-left: 30px;">
 </div>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Patient ID </th>
        <td mat-cell *matCellDef="let element"> <a href=""> {{element.id}}</a> </td>
      </ng-container>
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Patient's Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
      </ng-container>
    
      <ng-container matColumnDef="tribe">
        <th mat-header-cell *matHeaderCellDef> Tribe </th>
        <td mat-cell *matCellDef="let element"> {{element.tribe}} </td>
      </ng-container>
    
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age</th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
      <ng-container matColumnDef="visitType">
        <th mat-header-cell *matHeaderCellDef> Visit Type</th>
        <td mat-cell *matCellDef="let element"> {{element.visitType}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div> -->




<div class="myMain">
  <h2>Active patients <i class="fa fa-users" style="color: rgb(161, 213, 151);"></i></h2>
  <hr>

  
      <div flex="60" class="table-title-text"> 
         
        <input type="text"  (keyup)="applyFilter($event)" placeholder="Search Patient.." style="margin-bottom: 20px;margin-left: 0px;border-radius: 10px;">
   </div>


    <div class="mat-elevation-z8" style="margin-bottom: 30px;">
      <table mat-table [dataSource]="dataSource" >
          <!-- Position Column -->
     
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Patient's ID</th>
            <td mat-cell *matCellDef="let element">  <a [routerLink]="['/patients', element.id]"> {{element.id}}</a> </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Patient's Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
          </ng-container>
        
          <!-- lname Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="visitType">
            <th mat-header-cell *matHeaderCellDef>Visit Reason </th>
            <td mat-cell *matCellDef="let element"> {{element.visitType}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- Angular 8 pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>

</div>

