<div class="container bar">
    <span *ngIf="!isLoggedIn">
      
        <span class="mylogo">
            <img src="../assets/images/p4.png" style="width:100px ; height:50px;" alt="">
        </span><a routerLink="/">ESSEX Medics Hospital Management System</a>
         
         </span>
    <label class="floatLeft" for="navBtn"  *ngIf="isLoggedIn"><span></span></label>
    <span class="alignCenter"  *ngIf="isLoggedIn">
      
        <span class="mylogo">
            <img src="../assets/images/p4.png" style="width:100px ; height:50px;" alt="">
        </span>
          <a > ESSEX Medics Hospital Management System</a>
         </span>
    <span class="floatRight paddingRight2rem" *ngIf="isLoggedIn">
       <a routerLink="/profile">
        <b>{{ fullname }} </b> <span> <i class="fa  fa-user-md " style="font-size:17px ;"></i></span>
       </a>
    </span>
    <span class="floatRight paddingRight2rem"  *ngIf="!isLoggedIn">
        <a routerLink="/login">Login</a>  
      </span>
</div>
<div class="container">
    <input type="checkbox" class="navBtn" id="navBtn" />
    <nav>
        <ul *ngIf="currentUser; else other">
            <ul *ngFor="let role of currentUser.roles">
                <ul *ngIf="role ==  'ROLE_ADMIN' ;else doc">
                    <li>
                        <span style="color:white;padding-left: 20px;">
                           <i class="fa fa-user-circle fa-2x" style="margin-top: 5px;"></i>
                            <b>Admin</b>  </span>
                        <!-- <p style="color:white;padding-left: 65px">Doctor</p> -->
                         <p class="user-status">
                      </p>
                     
                          </li>
              
                          
                          <li>
                              <a routerLink="/home"><i class="fa fa-tachometer"></i>Home</a>
                          </li>
                      
                          <li>
                              <a routerLink="/assigned-inpatients"><i class="fa fa-users"></i>Employees</a>
                          </li>
                          <li>
                              <a routerLink="/register-employee"><i class="fa fa-plus"></i>Register Employees</a>
                          </li>

                          <li>
                            <a routerLink="/search-patients"><i class="fa fa-search"></i>Patients</a>
                        </li>
                          <li>
                              <a  (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                          </li>
                </ul>
                <ng-template #doc>
                    <ul *ngIf="role ==  'ROLE_DOCTOR' ;else receptionist" >
                        <li>
                            <span style="color:white;padding-left: 20px;">
                               <i class="fa fa-user-circle fa-2x" style="margin-top: 5px;"></i>
                                <b>Doctor</b>  </span>
                            
                             <p class="user-status">
                          </p>
                         
                              </li>
                        <li>
                            <a routerLink="/piechart"><i class="fa fa-tachometer"></i>Home</a>
                        </li>
                        <li>
                            <a routerLink="/search-patients"><i class="fa fa-bell"></i>Appointments</a>
                        </li>
                        <li>
                            <a routerLink="/patients"><i class="fa fa-search"></i>Patients</a>
                        </li>
                        <li>
                            <a  (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                    <ng-template #receptionist>

                        <ul *ngIf="role ==  'ROLE_RECEPTIONIST' ;else lab" >
                            <li>
                                <span style="color:white;padding-left: 20px;">
                                   <i class="fa fa-user-circle fa-2x" style="margin-top: 5px;"></i>
                                    <b>Receptionist</b>  </span>
                                
                                 <p class="user-status">
                              </p>
                             
                                  </li>
                            <li>
                                <a routerLink="/home"><i class="fa fa-tachometer"></i>Home</a>
                            </li>
                            <li>
                                <a routerLink="/register-patient"><i class="fa fa-plus"></i>Register Patients</a>
                            </li>
                            <li>
                                <a  (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                            </li>
                        </ul>
                    </ng-template>
                <ng-template #lab>

                    <ul *ngIf="role ==  'ROLE_LAB' ;else pham" >
                        <li>
                            <span style="color:white;padding-left: 20px;">
                               <i class="fa fa-user-circle fa-2x" style="margin-top: 5px;"></i>
                                <b>Lab Specialist</b>  </span>
                            
                             <p class="user-status">
                          </p>
                         
                              </li>
                        <li>
                            <a routerLink="/home"><i class="fa fa-tachometer"></i>Home</a>
                        </li>
                        <li>
                            <a routerLink="/lab-requests"><i class="fa fa-tachometer"></i>Lab Requets</a>
                        </li>           
                        <li>
                            <a  (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </ng-template>
                <ng-template #pham>

                    <ul *ngIf="role ==  'ROLE_PHARMACY' ;else otherole" >
                        <li>
                            <span style="color:white;padding-left: 20px;">
                               <i class="fa fa-user-circle fa-2x" style="margin-top: 5px;"></i>
                                <b>Pharmacist</b>  </span>
                            
                             <p class="user-status">
                          </p>
                         
                              </li>
                        <li>
                            <a routerLink="/home"><i class="fa fa-tachometer"></i>Home</a>
                        </li>
                        <li>
                            <a routerLink="/pham-requests"><i class="fa fa-tachometer"></i>Pharmacy Requets</a>
                        </li>           
                        <li>
                            <a  (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>

                </ng-template>
                <ng-template #otherole></ng-template>
                </ng-template>
            </ul>
         
            
            
        </ul>
       
    </nav>
   <ng-template #other></ng-template>
</div>
<router-outlet></router-outlet>
