<div class="container" style="margin-top:10% ;">


    <table>
      <tr>
      
        <th>Posted On</th>
        <th>Prescription</th>
        
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let result of data">
        
        <td>{{ result.date }}</td>
        <td>{{ result.prescription}}</td>
        <td >
         <p  > {{result.status}}</p>
        </td>
        <!-- <td *ngIf="result.status ==  'Not Dispensed' ">
        <p  style="color: red;" >   {{result.status}} </p>
        </td> -->
    
        
        <td> <button type="button"  class="btny"  (click)="dispenseMeds()">
          Dispense
        </button></td>
        
      </tr>
     
    </table>
  
     
    </div>
    