<div class="container" *ngIf="currentUser; else loggedOut">
    <div class="main-body" style="margin-top:100px ;">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <i class="fa fa-3x fa-user" style="color: rgb(193, 217, 189)"> </i>
                            <div class="mt-3">
                                <h4>{{ currentUser.fullname}}</h4>
                                <p class="text-secondary mb-1">  {{currentUser.id}} </p>
                                <p class="text-muted font-size-sm"> {{currentUser.department}} </p>
                                
                            </div>
                            <div class="row">
                                <!-- <div class="col-sm-12"></div> -->
                                <div class="col-sm-12 text-secondary">
                                    <input type="button" class="btn btn-success px-4" value="Print ID">
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{ currentUser.fullname }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{ currentUser.email}}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Employee ID</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{ currentUser.id }}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                
                                <h6 class="mb-0">Role</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div *ngFor="let role of currentUser.roles">
                                    <div *ngIf="role ==  'ROLE_ADMIN' ;else other_content">
                                          <input type="text" class="form-control" value="Administrator">
                                      
                                    </div>
                                    
                                    <ng-template #other_content>
                                        <div *ngIf="role ==  'ROLE_DOCTOR' ;else pham">
                                            <input type="text" class="form-control" value="Doctor">
                                        
                                      </div>
                                    </ng-template>
                                    <ng-template #pham>
                                        <div *ngIf="role ==  'ROLE_PHARMACY' ;else lab">
                                            <input type="text" class="form-control" value="Pharmacist">
                                        
                                      </div>
                                        
                                      </ng-template>
                                      <ng-template #lab>
                                        <div *ngIf="role ==  'ROLE_LAB' ;else receptionist">
                                            <input type="text" class="form-control" value="Pharmacist">
                                        
                                      </div>
                                      </ng-template>
                                      <ng-template #receptionist>
                                        <div *ngIf="role ==  'ROLE_RECEPTIONIST' ;else other">
                                            <input type="text" class="form-control" value="Receptionist">
                                        
                                      </div>

                                    </ng-template>
                                    <ng-template #other>

                                    </ng-template>
                                </div>
                              
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Department</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{ currentUser.department }}">
                            </div>
                        </div>
                        
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    Please login.
  </ng-template>